<div ng-include="'partials/header.html'"></div>
<div class="container">
	<div class="text-center">
		<h3>New User Registration</h3>
	</div>
	<div class="row">
	<div class="span4">
	<form name="registration" ng-controller="RegistrationController" ng-submit="register()">
		<div class="row">
			<label for="firstName">First Name</label>
			<input type="firstName" class="form-control" id="firstName" ng-model="registration.firstName" placeholder="First Name" required>
		</div>
		<input type="submit" class="btn btn-lg btn-primary" id="submit" value="Register">
	</form>
	</div>
	</div>
</div>
